
.go-back{
    height: 110px;
    display: flex;
    align-items: center;
}

.go-back a{
    display: flex;
    align-items: center;
    font-family: var(--ir);
    font-size: 18px;
    line-height: 22px;
    color: #93A0B2;
    text-decoration: none;
    margin-top: 30px;
}

.go-back img {
    margin-right: 6px;
}


@media only screen and (max-width: 576px) {

    .go-back{
        height: 52px;
    }

    .go-back a{
        font-size: 14px;
    }

    .go-back img{
        max-width: 10px;
    }

}